.container {
    display: flex;
}

.col {
    flex-basis: 450px;
    height: 100px;
    margin: 5px;
}

.ask {
    color: red;
}

.bid {
    color: green;
}

h1 {
    color: orange;
}

.total {
    color: blue;
}